@media (min-width: 720px) {
	p {
	font-size: calc(2vh + .5vw);
	overflow-wrap: break-word;
	margin: calc(5px + .75vw);
	font-family: Arial, Helvetica, sans-serif;
	}
	
	p.resizable {
		font-size: calc(7px + .5vw);
	}

	a {
		font-family: Arial, Helvetica, sans-serif;
		text-decoration: none;
	}

	span {
		font-size: calc(2vh + .5vw);
		margin-top: 1vw;
		margin-bottom: 1vw;
	}

	body {
		width: 100%;
		margin: 0px;
	}

	.fab { /*fontawesome styling*/
		color: white;
	}

	.sidenav {
		visibility: visible;
		width: 5vw;
		height: 100%;
		position: fixed;
		transition: all .125s;
		background-color: grey;
		overflow: visible;
		z-index: 1000;
		top: 0px;
		left: 0px;
	}

	.sidenav:hover {
		width: 10vw;
		transition: all .125s;
		background-image: linear-gradient(90deg, #4a4a4a, grey);
		color: white;
	}

	.sidenav-item {
		font-size: 2vw;
		width: 100%;
		display: block;
		transition: all .25s;
		border-right: 2px;
		border-radius: 5px;
		font-family: Arial, Helvetica, sans-serif;
		text-decoration: none;
		color: white;
		text-align: center;
	}

	.sidenav-item:hover {
		font-size: 3vw;
		width: 150%;
		height: auto;
		background-image: linear-gradient(90deg, #4a4a4a, grey);
		transition: all .25s;
		padding: 1vw;
		box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.1);
	}

	.sidenav-item:hover::after {
		content: "\A" attr(name);
	}

	.sidenav-link {
		color: white;
	}

	.pagebody {
		width: auto;
		padding-left: 5vw;
		background-color: white;
		height: 100%;
	}
	
	.hoverpic-left {
		width: 100%;
		display: flex;
		justify-content: center;
		transition: all .25s;
		overflow: hidden;
	}
	
	.hoverpic-left img {
		width: 75%;
	}
	
	.hoverpic-left:hover {
		display: flex;
		padding-right: 40vw;
		transform: translateX(-40vw);
	}
	
	.hoverpic-left:hover::after {
		content: "\A" attr(name);
		font-family: sans-serif;
		font-size: calc(10vh + .5vw);
		color: black;
	}
	
	.hoverpic-right {
		width: 100%;
		display: flex;
		justify-content: center;
		transition: all .25s;
		overflow: hidden;
	}
	
	.hoverpic-right img {
		width: 75%;
	}
	
	.hoverpic-right:hover {
		display: flex;
		padding-left: 15vw;
		transform: translateX(25vw);
		
	}
	
	.hoverpic-right:hover::before {
		content: "\A" attr(name);
		font-family: sans-serif;
		font-size: calc(10vh + .5vw);
		color: black;
	}
	
	.container-left {
		float: left;
		width: 50%;
	}
	
	.container-right {
		float: right;
		width: 50%;
	}
	
	.main-content {
		width: auto;
		height: 100%;
	}

	.button-primary {
		font-size: 2vw;
		background-color: grey;
		border: 2px;
		border-radius: 5px;
		padding: .25vw;
		color: white;
		transition: all .25s;
		margin: .5vw;
	}

	.button-primary:hover {
		font-size: 2vw;
		background-color: #4a4a4a;
		border: 2px;
		border-radius: 5px;
		padding: .25vw;
		color: white;
		transition: all .25s;
	}

	.button-thin {
		height: 1vh;
		font-size: 1vw;
		background-color: grey;
		border: 2px;
		border-radius: 5px;
		padding: .25vw;
		color: white;
		transition: all .25s;
		margin: .5vw;
	}

	.button-thin:hover {
		font-size: 1vw;
		background-color: #4a4a4a;
		border: 2px;
		border-radius: 5px;
		padding: .25vw;
		color: white;
		transition: all .25s;
	}

	.header {
		top: 0vh;
		padding: auto;
		position: relative;
		width: 75%;
		height: 10vh;
		background-image: linear-gradient(45deg, #2e2e2e 9%, #000000 9%, #000000 25%, #2e2e2e 50%, #2e2e2e 75%, #000000 75%, #000000 100%);
	}
	
	.header h1 {
		font-size: calc(10vh + .5vw);
		margin: auto;
		line-height: 10vh;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
		box-shadow: 0px 2px 10px black;
		color: white;
	}

	.footer {
		background-color: black;
	}
	
	.violethover:hover {
		background-color: violet;
	}
	
	.indigohover:hover {
		background-color: indigo;
	}
	
	.bluehover:hover {
		background-color: blue;
	}
	
	.greenhover:hover {
		background-color: lawngreen;
	}
	
	.yellowhover:hover {
		background-color: yellow;
	}
	
	.orangehover:hover {
		background-color: orange;
	}
	
	.redhover:hover {
		background-color: red;
	}
	
	
	
	
}


/*-----------------------------------------------------------------mobile css--------------------------------------------------------------------------*/
@media (max-width: 720px) {
	p {
	font-size: calc(4vh + .5vw);
	overflow-wrap: break-word;
	margin: calc(5px + .75vw);
	font-family: Arial, Helvetica, sans-serif;
	}
	
	p.resizable {
		font-size: calc(7px + .5vw);
	}

	a {
		font-family: Arial, Helvetica, sans-serif;
		text-decoration: none;
	}

	span {
		font-size: calc(2vh + .5vw);
		margin-top: 1vw;
		margin-bottom: 1vw;
	}

	body {
		background-color: white;
		width: 100%;
		margin: 0px;
	}

	.fab { /*fontawesome styling*/
		color: white;
	}

	.sidenav {
		visibility: visible;
		width: 15vw;
		height: 100%;
		position: fixed;
		transition: all .125s;
		background-color: grey;
		overflow-x: hidden;
		overflow-y: auto;
		scrollbar-width: thin;
		z-index: 1000;
		top: 0px;
		left: 0px;
	}
	
	.sidenav::-webkit-scrollbar {
		width: 5px;
	}
	
	.sidenav::-webkit-scrollbar-track {
		background: transparent;
		box-shadow: none;
	}
	
	.sidenav::-webkit-scrollbar-thumb {
		width: 5px;
		border-radius: 5px;
		background-image: linear-gradient(90deg, #4a4a4a, transparent);
	}

	.sidenav-item {
		font-size: 8vw;
		width: 100%;
		display: block;
		transition: all .25s;
		border-right: 2px;
		border-radius: 5px;
		font-family: Arial, Helvetica, sans-serif;
		text-decoration: none;
		color: white;
		text-align: center;
	}

	.sidenav-link {
		color: white;
	}

	.pagebody {
		width: auto;
		padding-left: 15vw;
		background-color: white;
		height: 100%;
	}
	
	.hoverpic-left {
		width: 100%;
		display: flex;
		justify-content: center;
		transition: all .25s;
		overflow: hidden;
	}
	
	.hoverpic-left img {
		width: 100%;
	}
	
	.container-left {
		float: left;
		width: 50%;
	}
	
	.container-right {
		float: right;
		width: 50%;
	}
	
	.main-content {
		width: auto;
		height: 100%;
	}

	.button-primary {
		font-size: 8vw;
		background-color: grey;
		border: 2px;
		border-radius: 5px;
		padding: .25vw;
		color: white;
		transition: all .25s;
		margin: .5vw;
	}

	.button-primary:hover {
		font-size: 8vw;
		background-color: #4a4a4a;
		border: 2px;
		border-radius: 5px;
		padding: .25vw;
		color: white;
		transition: all .25s;
	}

	.button-thin {
		height: 5vh;
		font-size: 5vw;
		background-color: grey;
		border: 2px;
		border-radius: 5px;
		padding: .25vw;
		color: white;
		transition: all .25s;
		margin: .5vw;
	}

	.button-thin:hover {
		font-size: 5vw;
		background-color: #4a4a4a;
		border: 2px;
		border-radius: 5px;
		padding: .25vw;
		color: white;
		transition: all .25s;
	}

	.header {
		top: 0vh;
		padding: auto;
		position: relative;
		width: 75%;
		height: 10vh;
		background-image: linear-gradient(45deg, #2e2e2e 9%, #000000 9%, #000000 25%, #2e2e2e 50%, #2e2e2e 75%, #000000 75%, #000000 100%);
		box-shadow: 0px 2px 10px black;
	}
	
	.header h1 {
		font-size: calc(5vh + .5vw);
		margin: auto;
		line-height: 10vh;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
		color: white;
	}

	.footer {
		background-color: black;
	}
	
}




