.image-header {
		width: 100%;
		box-shadow: 0px 1px 5px grey;
	}

@media (min-width: 720px) {
	p {
	font-size: calc(2vw + .5vw);
	overflow-wrap: break-word;
	margin: calc(5px + .75vw);
	font-family: Arial, Helvetica, sans-serif;
	}
	
	p.resizable {
		font-size: calc(7px + .5vw);
	}

	a {
		font-family: Arial, Helvetica, sans-serif;
		text-decoration: none;
	}

	span {
		font-size: calc(1vw + .5vw);
		margin-top: 1vw;
		margin-bottom: 1vw;
	}

	body {
		width: 100%;
		margin: 0px;
	}

	.fab { /*fontawesome styling*/
		color: white;
	}

	.sidenav {
		visibility: visible;
		width: 5vw;
		height: 100%;
		position: fixed;
		transition: all .125s;
		background-image: linear-gradient(0deg, #000000 10%, #002652 20%, #000000 60%, #002652 80%, #000000 100%);
		overflow: visible;
		z-index: 1000;
		top: 0px;
		left: 0px;
		animation: bganimation 120s infinite;
		animation-fill-mode: forwards;
		box-shadow: 4px 0px 8px 4px rgba(0,0,0,.1);
	}

	.sidenav:hover {
		width: 10vw;
		transition: all .125s;
		color: white;
		box-shadow: 4px 0px 8px 4px rgba(0,0,0,.3);
	}
	
	@keyframes bganimation {
		0% {background-position:0px 50px;}
		10% {background-position:25px 20px;}
		20% {background-position:10px 75px;}
		30% {background-position:100px 0px;}
		40% {background-position:1000px -750px;}
		50% {background-position:0px 100px;}
		60% {background-position:50px 10px;}
		70% {background-position:50px -30px;}
		80% {background-position:100px -30px;}
		90% {background-position: 0px 50px;}
		100% {background-position: 0px 50px;}
	}

	.sidenav-item {
		font-size: 2vw;
		width: 100%;
		display: block;
		transition: all .25s;
		border-right: 2px;
		border-radius: 5px;
		font-family: Arial, Helvetica, sans-serif;
		text-decoration: none;
		color: white;
		text-align: center;
	}

	.sidenav-item:hover {
		font-size: 3vw;
		width: 150%;
		height: auto;
		background-image: linear-gradient(90deg, #4a4a4a, grey);
		transition: all .25s;
		padding: 1vw;
		box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.3);
	}

	.sidenav-item:hover::after {
		content: "\A" attr(name);
	}

	.sidenav-link {
		color: white;
	}

	.pagebody {
		width: auto;
		padding-left: 5vw;
		background-color: white;
		height: 100%;
	}
	
	.hoverpic-left {
		width: 100%;
		display: flex;
		justify-content: center;
		transition: all .25s;
		overflow: hidden;
	}
	
	.hoverpic-left img {
		width: 75%;
		box-shadow: 0px 0px 8px 4px rgba(0,0,0,.3);
		transform: scale(.90);
		transition: transform .75s, filter 1s, box-shadow .5s;
	}
	
	.hoverpic-left:hover {
		display: flex;
		padding-right: 40vw;
		transform: translateX(-40vw);
		box-shadow: 0px 10px 8px 4px rgba(0,0,0,.5);
	}
	
	.hoverpic-left:hover img {
		filter: brightness(75%) saturate(50%);
		box-shadow: 0px 0px 16px 4px rgba(0,0,0,1);
		margin-right: 2vw;
		transform: scale(1);
	}
	
	.hoverpic-left:hover::after {
		content: "\A" attr(name);
		font-family: sans-serif;
		font-size: calc(10vh + .5vw);
		white-space: nowrap;
		text-shadow: 3px 3px grey;
	}
	
	.mobileview {
		display: none;
	}
	
	/*.hoverpic-right {
		width: 100%;
		display: flex;
		justify-content: center;
		transition: all .25s;
		overflow: hidden;
	}
	
	.hoverpic-right img {
		width: 75%;
	}
	
	.hoverpic-right:hover {
		display: flex;
		padding-left: 15vw;
		transform: translateX(25vw);
		
	}
	
	.hoverpic-right:hover::before {
		content: "\A" attr(name);
		font-family: sans-serif;
		font-size: 100%;
		color: black;
	}*/
	
	.container-left {
		float: left;
		width: 50%;
	}
	
	.container-right {
		float: right;
		width: 50%;
	}
	
	.main-content {
		width: auto;
		height: 100%;
		box-shadow: 0px 10px 8px 4px rgba(0,0,0,.3);
		background-color: gray;
	}
	
	.main-content-text {
		width: auto;
		height: 100%;
		box-shadow: 0px 10px 8px 4px rgba(0,0,0,.3);
		padding-left: 2vw;
		padding-right: 2vw;
	}

	.button-primary {
		font-size: 2vw;
		background-color: grey;
		border: 2px;
		border-radius: 5px;
		padding: .25vw;
		color: white;
		transition: all .25s;
		margin: .5vw;
		box-shadow: 0px 3px 3px black;
	}

	.button-primary:hover {
		font-size: 2vw;
		background-color: #4a4a4a;
		border: 2px;
		border-radius: 5px;
		padding: .25vw;
		color: white;
		transition: all .25s;
	}

	.button-thin {
		height: 1vh;
		font-size: 1vw;
		background-color: grey;
		border: 2px;
		border-radius: 5px;
		padding: .25vw;
		color: white;
		transition: all .25s;
		margin: .5vw;
	}

	.button-thin:hover {
		font-size: 1vw;
		background-color: #4a4a4a;
		border: 2px;
		border-radius: 5px;
		padding: .25vw;
		color: white;
		transition: all .25s;
	}

	.header {
		top: 0vh;
		padding: auto;
		position: relative;
		width: 75%;
		height: 10vh;
		background-image: linear-gradient(45deg, #2e2e2e 9%, #000000 9%, #000000 25%, #2e2e2e 50%, #2e2e2e 75%, #000000 75%, #000000 100%);
	}
	
	.header h1 {
		font-size: calc(10vh + .5vw);
		margin: auto;
		line-height: 10vh;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
		box-shadow: 0px 2px 10px black;
		color: white;
	}
	
	.content-header {
		font-size: calc(7vh + .5vw);
		margin: auto;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
		box-shadow: 0px 1px 5px black;
		margin: 1vw;
		height: auto;
		background-color: #ababab;
		padding: 1vh;
	}

	.footer {
		background-color: black;
	}
	
	.violethover:hover {
		background-color: violet;
		color: white;
	}
	
	.indigohover:hover {
		background-color: indigo;
		color: white;
	}
	
	.bluehover:hover {
		background-color: blue;
		color: white;
	}
	
	.greenhover:hover {
		background-color: lawngreen;
		color: black;
	}
	
	.yellowhover:hover {
		background-color: yellow;
		color: black;
	}
	
	.orangehover:hover {
		background-color: orange;
		color: black;
	}
	
	.redhover:hover {
		background-color: red;
		color: white;
	}
	
	
	
	
}


/*-----------------------------------------------------------------mobile css--------------------------------------------------------------------------*/
@media (max-width: 720px) {
	p {
	font-size: calc(5vw + .5vw);
	overflow-wrap: break-word;
	margin: calc(5px + .75vw);
	font-family: Arial, Helvetica, sans-serif;
	}
	
	p.resizable {
		font-size: calc(7px + .5vw);
	}

	a {
		font-family: Arial, Helvetica, sans-serif;
		text-decoration: none;
	}

	span {
		font-size: calc(3vw + .5vw);
		margin-top: 1vw;
		margin-bottom: 1vw;
	}

	body {
		background-color: white;
		width: 100%;
		margin: 0px;
	}

	.fab { /*fontawesome styling*/
		color: white;
	}

	.sidenav {
		visibility: visible;
		width: 15vw;
		height: 100%;
		position: fixed;
		transition: all .125s;
		background-color: grey;
		overflow-x: hidden;
		overflow-y: auto;
		scrollbar-width: thin;
		z-index: 1000;
		top: 0px;
		left: 0px;
	}
	
	.sidenav::-webkit-scrollbar {
		width: 5px;
	}
	
	.sidenav::-webkit-scrollbar-track {
		background: transparent;
		box-shadow: none;
	}
	
	.sidenav::-webkit-scrollbar-thumb {
		width: 5px;
		border-radius: 5px;
		background-image: linear-gradient(90deg, #4a4a4a, transparent);
	}

	.sidenav-item {
		font-size: 8vw;
		width: 100%;
		display: block;
		transition: all .25s;
		border-right: 2px;
		border-radius: 5px;
		font-family: Arial, Helvetica, sans-serif;
		text-decoration: none;
		color: white;
		text-align: center;
	}
	
	.sidenav-item:hover {
		filter: brightness(75%);
	}

	.sidenav-link {
		color: white;
	}

	.pagebody {
		width: auto;
		padding-left: 15vw;
		background-color: white;
		height: 100%;
	}
	
	.hoverpic-left {
		width: 100%;
		display: flex;
		justify-content: center;
		transition: all .25s;
		overflow: hidden;
		display: none;
	}
	
	.hoverpic-left img {
		width: 100%;
		transition: all .25s;
	}
	
	.hoverpic-left:hover img {
		transform: scale(.9);
		box-shadow: 0px 0px 8px 4px rgba(0,0,0,.5);
	}
	
	.mobileview {
		position: relative;
		display: inline-block;
	}
	
	.mobileview img {
		width: 100%;
		box-shadow: 0px 0px 1px 1px rgba(0,0,0,.5);
		transition: all .25s;
	}
	
	.mobileview:hover img {
		transform: scale(.9);
		filter: brightness(75%);
		box-shadow: 0px 0px 8px 4px rgba(0,0,0,.5);
	}
	
	.mobileview p {
		position: absolute;
		margin: 0 auto;
		top: 0%;
		text-align: center;
		width: 100%;
		color: white;
		font-family: Arial, Helvetica, sans-serif;
		font-size: calc(9vw + .5vw);
		-webkit-text-stroke: 2px black;
	}
	
	.container-left {
		float: left;
		width: 50%;
	}
	
	.container-right {
		float: right;
		width: 50%;
	}
	
	.main-content {
		width: auto;
		height: 100%;
	}

	.button-primary {
		font-size: 8vw;
		background-color: grey;
		border: 2px;
		border-radius: 5px;
		padding: .25vw;
		color: white;
		transition: all .25s;
		margin: .5vw;
	}

	.button-primary:hover {
		font-size: 8vw;
		background-color: #4a4a4a;
		border: 2px;
		border-radius: 5px;
		padding: .25vw;
		color: white;
		transition: all .25s;
	}

	.button-thin {
		height: 5vh;
		font-size: 5vw;
		background-color: grey;
		border: 2px;
		border-radius: 5px;
		padding: .25vw;
		color: white;
		transition: all .25s;
		margin: .5vw;
	}

	.button-thin:hover {
		font-size: 5vw;
		background-color: #4a4a4a;
		border: 2px;
		border-radius: 5px;
		padding: .25vw;
		color: white;
		transition: all .25s;
	}

	.header {
		top: 0vh;
		padding: auto;
		position: relative;
		width: 75%;
		height: 10vh;
		background-image: linear-gradient(45deg, #2e2e2e 9%, #000000 9%, #000000 25%, #2e2e2e 50%, #2e2e2e 75%, #000000 75%, #000000 100%);
		box-shadow: 0px 2px 10px black;
	}
	
	.header h1 {
		font-size: calc(5vh + .5vw);
		margin: auto;
		line-height: 10vh;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
		color: white;
	}
	
	.content-header {
		font-size: calc(7vh + .5vw);
		margin: auto;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
		box-shadow: 0px 1px 5px black;
		margin: 1vw;
		height: auto;
		background-color: #ababab;
		padding: 1vh;
	}

	.footer {
		background-color: black;
	}
	
}




