body {
  background-image: linear-gradient(45deg, #2e2e2e 4.55%, #000000 4.55%, #000000 50%, #2e2e2e 50%, #2e2e2e 54.55%, #000000 54.55%, #000000 100%);
  background-size: 15.56px 15.56px;
}
.main-carousel {
 width: 75%;
 margin-left: auto;
 margin-right: auto;
 height: auto;
 background: black;
 border: solid grey 2px;
 border-radius: 15px;
}
#outer {
  width: 100%;
}
#inner {
  margin: 0 auto;
}
.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
.headers {
  text-align:center;
  color:#d1d1d1;
  font-size: calc(25px + 2.5vw);
  margin-bottom: 2px;
  margin-top: 2px;
  display: inline-block;
}
.thumbnails {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
}
.stories {
 display: block;
  position: relative;
 /*use this to control visibility of "Fimfiction Stories" section in next site update.*/
}
.story-container {
  text-align: center;
  position: relative;
  margin: 5px;
  height: auto;
}
.story-container img {
  border: 2px solid grey;
}
.story-container a { 
  position: relative; display: inline-block 
}
.story-block {
  margin: 5px;
  color: #fff;
  /*opacity: 0;
  transition: opacity .5s;*/
  font-size: calc(5px + .75vw);
  overflow: scroll;
}

.story-block::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/*.story-block:hover {
  opacity: 50;
}*/
.story-buttons {
 position: relative;
 font-size: calc(5px + .5vw);
 margin-top: 5px;
 padding: 5px;
 color: white;
 background-color: grey;
 border: none;
 border-radius: 10px;
 transition: background-color .25s;
}
.story-buttons:hover {
 background-color: #4a4a4a;
 cursor: pointer;
}
.story-buttons-fimfic {
 position: relative;
 font-size: calc(5px + .5vw);
 margin-top: 5px;
 padding: 5px;
 color: white;
 background-color: brown;
 border: none;
 border-radius: 10px;
 transition: background-color .25s;
}
.story-buttons-fimfic:hover {
  background-color: #7d3000;
  cursor: pointer;
}
/*.carousel-cell #ponyme {
  height: 250px;
}*/
.footer {
  position: fixed;
  bottom: 0px;
  font-size: 7px;
  background-color: black;
  width: 100%;
  left: 0px;
  right: 0px;
  color: white;
}

.footer-2 {
  position: relative;
  margin-top: 100px;
  bottom: 0px;
  font-size: 7px;
  width: 100%;
  left: 0px;
  right: 0px;
  color: white;
}

#hide-footer {
  position: fixed;
  font-size: 16px;
  cursor: pointer;
  background-color: #3d3d3d;
  color: white;
  padding: 12px 8px;
  border: none;
  border-radius: 5px;
  bottom: 5px;
  right: 5px;
}
.footer-button {
  padding: 2px;
  margin-top: 2px;
}
